  body{
    font-family: sans-serif;
    background-color: rgba(124, 120, 120, 0.904);
    margin-top: 0%;
  
    
  }
  

  nav{
    height: 150px;
    width: 100%;
    font-size: 23px;
    font-family: sans-serif;
    background-color:rgb(44, 88,138);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    
  
  }

  nav a{
    text-decoration: none;
    color: rgb(231, 231, 236);
    
  }

  nav a:hover{
    color:black;

  }

  .encabezado{
    background-image:url("images/digital2.png");
    width: 100%;
    height: 470px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content:center;
    align-items:center;
    color: azure;
    margin-top: 20px;
    padding-bottom: 30px;

    }
    
  

  .encabezado a{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(21, 105, 32, 0.986);
    font-weight: bold;
    color: rgb(0, 0, 0);
    width: 200px;
    height: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 18px;
    border: 2px solid black;
    text-decoration: none;
    margin-bottom: 10px;

  }

  .esloganCentro{
    font-size: 50px;
    color: whitesmoke;
    font-family: 'Otomanopee One', sans-serif;
    
  }

  .boton{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contenedor{
    background-image: url("images/3D-banner-background.jpg");
    height: 610px;
    

    }

  .titulo{
    text-align:center;
    font-size: 40px;
    color: whitesmoke;
    
    
  }

  .parrafo{
    color: whitesmoke;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
  }
  
  .titulo2{
    font-weight:bold; 
    text-align: center;
    color: whitesmoke;
  }

  .contenedor-cards{
    display: grid;
    grid-template-columns: repeat(4, 15%);
    gap: 15px;
    justify-content: center;
  }

    
  .card {
    box-shadow: 0 4px 8px 0 rgb(240, 230, 230);
    transition: 0.3s;
    width: 100%;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    align-items: center;
    color: whitesmoke;
  }
  
  .card:hover {
    box-shadow: 0 10px 18px 0 rgba(15, 49, 243, 0.507);
  }
  
  .contenido {
    padding: 2px 16px;
  }
  
  img {
    border-radius: 10%;
  }

  @media (min-width: 300px) and (max-width: 499px){
    .contenedor-cards{
      grid-template-columns: 70%;
    }

    .contenedor2{
      font-size: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

    }
  }
  
  

  .contenedor2{
    background-color: rgb(10, 37, 68);
    height: 430px;
  }

  .contenedor2 p{
    text-align: center;
    font-size: 70px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-family: monospace;
    color: white;
    
  }

  .contenedor2 li{
    text-align: center;
    list-style: none;
    font-size: 25px;
    color: whitesmoke;
  }

  .contacto a{
    font-size: 25px;
    color: black;
    display: flex;
    justify-content: start;
    align-items: center;

    
  }

  .logos h3{
    font-size: 25px;
    text-align:start;
  }

  /*Modal*/

  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay.hide {
    display: none;
    
}
.modal-body {
    width: 400px;
    height: 400px;
    background-color:rgba(21, 105, 32, 0.986);
    text-align: center;
    border-radius: 6px;
    color: black;
    opacity: .90;

}

/* nueva seccion */

.message {
  font-family: sans-serif;
  padding: 10px;
  display: inline-block;
  opacity: 0;
  border-radius: 5px;
  margin-top: 5px;
  color: #333;
  transition: ease-in opacity 0.5;
}
.message.show {
  opacity: 1;
}
.error {
  background-color: rgb(128, 48, 60);
}
.success {
  background-color: lightgreen;
}
  

    
   
  
  
  

  
 
  